<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hello Templates</title>

    <link rel="stylesheet" href="../CSS/style.css" type="text/css">
</head>
<body>

<h1>Hello Spring!</h1>

<p> My favourite food is <span th:text="${fileName}"></span></p>
<p>This site was built by Kate <span th:text="${Author}"></span></p>

<h2>My favourite food</h2>

<ul>
    <li th:each="food : ${favouriteFoods}" th:text="${food}"></li>
</ul>

<h2>Nice Plant</h2>

<img src="../img/mike-marquez-512516-unsplash(1).jpg">
<img src="../img/lighthouse.jpg">

</body>
</html>